.conteneur-entete {
  display: flex;
  align-items: center;
  background-color: var(--couleur-secondaire);
  padding: 10px;
}

.conteneur-entete > * > label {
  justify-self: end;
  background-color: var(--couleur-active);
  border-radius: 0 15px 15px 0;
  padding: 6px 4px;
  margin-left: -5px;
  margin-right: var(--espace-md);
}

.conteneur-entete > * > label > img {
  width: 20px;
  height: auto;
  object-position: 0 5px;
}

.conteneur-entete ul > li {
  list-style: none;
  display: inline-block;
}

.conteneur-entete ul > li > a {
  text-decoration: none;
  padding: var(--espace-sm);
  margin-right: var(--espace-md);
  color: var(--couleur-primaire);
}

@media (max-width: 400px) {
  .conteneur-entete ul > li > a {
    margin-right: 0;
  }
}

@media (max-width: 330px) {
  .conteneur-entete ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 860px) {
  .conteneur-entete {
    flex-direction: column;
  }
}

.conteneur-principal {
  margin-left: var(--espace-xl);
  margin-right: var(--espace-xl);
  display: flex;
}

@media (max-width: 800px) {
  .conteneur-principal {
    flex-direction: column;
  }
}

.conteneur-grille {
  margin-left: var(--espace-xxl);
  margin-bottom: var(--espace-xxl);
  flex-grow: 1;
}

@media (max-width: 350px) {
  .conteneur-grille {
    margin-left: 0;
  }
}

.conteneur-grille {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  gap: var(--espace-xl);
  align-items: start;
  justify-content: center;
}

.conteneur-contenu {
  padding-left: 5px;
}
